.centralizar-pagina {
    margin-top: 30vh;
    margin-left: 40vw;
    margin-right: 40vw;
}

/* Campo preço template loja.jsp */
.preco {
    font-size: 20px;
    font-weight: bold;
    color: #1e7e34;
}

/* Posição div template loja.jsp */
.centering {
    margin-left: 10%;
    margin-right: 10%;
}

/* Div template loja.jsp*/
.produto-thumb {
    width: 20%;
    margin: 5px;
    padding: 5px;
    border: solid 1px #aaa;
}

/* Campo descrição template loja.jsp */
.descricao {
    background-color: #eee;
    max-width: 100%;
}

/* Botão Comprar template loja.jsp */
.comprar {
    margin-top: 10px;
}

.center {
    text-align: center;
}

/* Div Template login.jsp*/
.centralizar-pagina {
    margin-top: 30vh;
    margin-left: 40vw;
    margin-right: 40vw;
}

/* Botão do template comprar.jsp */
.box-produtos {
    margin-top: 20px;
    margin-bottom: 20px;
}